@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  overflow: hidden;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #4d4d4d;
  border-radius: 5px;
}
